<style>
    li{
        float: right;
    }
    a{
        width: 100px;
    }
</style>

<div>
    <div  align="right">
        Hi, {{ status.name}}&nbsp;&nbsp;&nbsp;
        <li><a style="display: block" id = "button" href="/bid/login">Log Out</a></li>
        <li><a style="display: block" id = "button" href="/bid/cart">My Cart(<b>{{ status.cart_size }}</b>)</a></li>
    </div>

	<a href="http://127.0.0.1:8000/bid/">
	<img src="/static/images/download.png" alt="Image not found" width="150" height="100" align ="left"/></a>
    <div>
     {% block content %}{% endblock %}
    </div>
</div>

