{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
    #Info{

        border-collapse: collapse;
        border: 1px solid black;
    }
</style>
	<form method = "POST"> {% csrf_token %}
    <div align="center">
        <table id = "Info" bgcolor= silver>
            <tbody>
                <td style="vertical-align:top;width:50%;">
                 <table id="Info" cellpadding='5'   border="0" style="position:relative;left:150" bgcolor="gray">
                        <thead>
							<p style="text-align: center;"><b>Customer's details</b></p>
                        </thead>
                        <tbody>
                            <tr>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">Name:</td>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">{{ member.name }}</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">username:</td>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">{{ member.username }}</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">Email:</td>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">{{ member.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="Info" cellpadding=5px   border="1" align="center" bgcolor="gray">
                        <thead>
                            <!--p style="text-align: center;text-decoration: underline">Update - Date : {{ date }}</p-->
							<p style="text-align: center;"><b> Order Summary</b></p>
                        </thead>
                        <tbody>
                            <tr>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">Items</td>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">Quantity</td>
                                <td nowrap="nowrap" style="font-weight: bold; line-height: 2em;">Total price</td>
                            </tr>

                            {% if product %}
                            {% for products in product %}
                                <tr>
                                <td nowrap="nowrap" width="100%"><p style="text-align: left">{{ products.name }}</p>
								<a href="http://127.0.0.1:8000/bid/description/{{ products.id}}">
								<img src="{{MEDIA_URL}}{{products.photo}}" alt="Image not found" style=" max-height:128px;max-width:128px;" align ="left"></a></td>
                                <td nowrap="nowrap" width="100%">1</td>
							    <td nowrap="nowrap" width="100%"> RM {{ products.price }}</td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <div bgcolor="silver" style="width: auto;height: auto;top: auto;left: 50%;margin-top: auto;margin-left: auto;;border-radius: 3px;border: 1px solid #ccc;box-shadow: 0 1px 2px rgba(0, 0, 0, .1);">
                                <div nowrap="nowrap" style="text-align: center; line-height: 2em;">Shipping: Free</div>
                                <div nowrap="nowrap" style="text-align: center; line-height: 2em;">Subtotal: {{ total_price }}</div>
                                <input style="position: relative;left:400px;" type="submit" name="order_now" value="order now">
                    </div>
                </td>
            </tbody>
        </table>
    </div>
	</form>
{% endblock %}
